<template name="sidepanel">
  <div class="sidepanel">
    <div class="wrapper">
      <img src="STC_logo.png" style="width: 50%;" class="sidepanelimg">
      <h1>What We Heard!</h1>
      <h3>Twelve Year Program Feedback</h3>
      <p>Over 2,000 people provided input into the 2015 Twelve Year Transportation Program update through an online survey. As part of the survey, users identified more than 7,000 transportation needs using an interactive mapping tool. Please take some time and review the feedback offered using this web viewer by following the steps outlined below.</p>
      <h3>Using the Web Viewer</h3>
      <ol>
        <li>Select a County from the drop-down menu. Or, you can use your mouse to click and drag to a specific region.</li>
        <li>Select the check boxes next to the project type(s) you would like to view.</li>
        <li>Click on each point to view a pop-up window with the comment details.</li>
      </ol>
      <p><i>Tip: Use the <b>+</b> and <b>-</b> buttons in the left corner of the map or scroll wheel on your mouse to zoom</i></p>
      <p>All public feedback is being considered by the State Transportation Commission as they review information for the adoption of the 2015 Twelve Year Program, scheduled in August 2014. This public feedback information is also being shared with our planning partners, the Metropolitan and Rural Transportation Planning Organizations, for consideration in the updates to their Transportation Improvement Programs (TIPs).</p>
      <p>
        <a href="http://talkpatransportation.com/docs/OutreachMethodsSummaryOverview_Final.pdf">Download a summary of survey results</a><br/>
        <a href="http://talkpatransportation.com/SurveyResults.html">Review or download the data by planning region</a><br/>
        <a href="http://talkpatransportation.com">Return to the STC Homepage</a>
      </p>
      <p class="small">
        Please Note: The information offered on this site represents feedback provided by the general public. Therefore, projects listed here have no direct correlation to projects currently being planned or programmed on the TIP or the STIP.
      </p>
      <img src="2012PennDOT-left-rgb.png" style="width:75%;" class="sidepanelimg">
      <p></p>
    </div>
  </div>
</template>
